/**************************************/
/***************CHAMADA PR*************/
/**************************************/

.secao-chamada-pr{
    background-color:var(--verdeescuro);
    background-size: cover;
    background-position: center;
  }
  .caixa-chamada-pr{
    width:1100px;
    height:460px;
    margin:0 auto;
    padding:10px;
    position:relative;
  }

  .conteudo-chamada-pr{
    width:600px;
    position:relative;
  }

  .conteudo-chamada-pr h2{
    font-family: 'Titillium Web', sans-serif;
    font-weight:600;
    font-size:45px;
    color: white;
    margin:50px 0 30px 0;
  }

  .conteudo-chamada-pr p{
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    line-height:1.5em;
    color: white;
    margin-bottom:50px;
  }

  .conteudo-chamada-pr a{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    display:inline-block;
    position: absolute;
    bottom:90;
    background-color:var(--verdelimao);
    color: black;
    box-sizing: border-box;
    padding:20px 40px;
    border-radius: var(--bordapadrao);
    transition: background-color, color 0.5s;
    text-decoration:none;
  }

  .conteudo-chamada-pr a:hover{
    background-color:var(--verdemedio);
    color:white;
  }

  @media (max-width:1140px){
    .caixa-chamada-pr{
      width:100%;
      padding:10px 0;
        }

    .caixa-chamada-pr h2,
    .caixa-chamada-pr p,
    .caixa-chamada-pr a{
      margin-left:100px;
     }
  }

  @media (max-width:800px){
    .caixa-chamada-pr h2,
    .caixa-chamada-pr p,
    .caixa-chamada-pr a{
      margin-left:100px;
    }
  }


  @media (max-width:450px){
    .caixa-chamada-pr{
      width:100%;
      height:550px;
      padding:10px 0;
    }

    .caixa-chamada-pr a{

      margin: 20px 40px;
    }
    .conteudo-chamada-pr{
      width:100%;
    }

    .conteudo-chamada-pr p,
    .conteudo-chamada-pr h2{
      margin:40px;
    }
    .conteudo-chamada-pr h2{
      font-size:35px;
    }
  }

  @media(max-width:375px){
    .caixa-chamada-pr{
      height:590px;
    }
  }



@media (max-width:320px){
  .caixa-chamada-pr{
    height:700px;
  }

}
